.main-content {
    padding-left: 20px;
}

.targets {
    display: flex;
    flex-wrap: wrap;
}

.tab-group {
    padding: 8px;
    margin: 8px;
    flex: 1 2 350px;
    background-color: rgb(255, 255, 255)
}

.target-list {
    margin: 0;
    padding: 0;
}

.target-container {
    margin-top: 5px;
    min-height: 34px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.target-icon {
    height: 24px;
    width: 24px;
    margin-inline-end: 5px;
}

.target-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    text-align: center;
}

.close-mini {
    width: 15px;
    height: 15px;
    padding: 5px 5px 0 0;
    cursor: pointer;
    text-align: center;
    opacity: 0.4;
}

.close:hover,
.close-mini:hover {
    opacity: 1;
}

.close:before, .close:after,
.close-mini:before, .close-mini:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #ff0400;
}

.close-mini:before, .close-mini:after {
    height: 15px;
}

.close:before,
.close-mini:before {
    transform: rotate(45deg);
}

.close:after,
.close-mini:after {
    transform: rotate(-45deg);
}

.header-container {
    display: flex;
    justify-content: space-between;
}